body {
  height: 100vh;
  font-family: "Play", sans-serif;
}
.container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #add8e6;
  border-radius: 10px;
}

.upper {
  height: 70%;
  left: -150px;
  position: relative;
  z-index: 92;
  padding-top: 40px;
  opacity: 80%;
}
#cliff {
  height: 100%; 
  z-index: 97;
}
.ground {
  height: 30%;
  display: flex;
  position: relative;
}
.water {
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 101;
  background-image: url("images/water2.png");
  background-repeat: repeat-x;
  animation: stream 15s linear infinite;
  background-size: 100% auto;
  background-color: transparent;
}
.waterTop {
  width: 100%;
  top: -40px;
  height: 100%;
  z-index: 99;
  top: -40px;
  position: absolute;
  opacity: 80%;
}
.croc {
  z-index: 98;
  width: 20%;
  height: auto;
  top: -109px;
  position: absolute;
}
#croc1 {
  right: 10%;
}
#croc2 {
  left: 10%;
  transform: scaleX(-1);
}
.cloud {
  top:0px;
  position: absolute;
  z-index: 130;
  width: 100%;
  height: 100px;
  background-size: 150px 80px;
  background-image: url("images/cloud.webp");
  background-repeat: repeat-x;
  animation: cloud 50s linear infinite;
  background-origin: content-box;
  background-color: transparent;
  background-position: 0px 10px;
}
#dialog {
  height: 100vh;
  position: relative;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}
#dialog .inner {
  width: 600px;
  height: 600px;
  background-color: white;
  position: relative;
  border-radius: 20px;
}
.closeBtn {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 99;
  border: none;
}
.closeBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#dialog .context {
  padding-bottom: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}
.again {
  border: none;
  background: none;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.again:hover {
  text-decoration: underline;
}
.message {
  padding: 0 20px;
  text-align: center;
  font-size: 16px;
}
@keyframes stream {
  0% {
    background-position: -1200px 30%;
  }
  100% {
    background-position: 0% 30%;
  }
}

.cloud2 {
  top: 50px;
  animation: cloud2 60s linear infinite;
}
@keyframes cloud2 {
  0%   { background-position: -1600px 20px; }
  100% { background-position: 90px 90px; }
}

@keyframes cloud {
  0% { background-position: -1200px 10px;}
  100% {background-position: 30px 10px;}
}


